@charset "UTF-8";
.loader {
  position: fixed;
  background: #FFFFFF;
  height: 100vh;
  inset: 0;
  z-index: 7;
  opacity: 0.9;
  -webkit-animation: back 2.5s linear forwards;
  animation: back 2.5s linear forwards;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes back {
  0% {
    /*transform: scale(1);*/
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    /*transform: scale(0);*/
    opacity: 0;
    z-index: -1;
  }
}

@keyframes back {
  0% {
    /*transform: scale(1);*/
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    /*transform: scale(0);*/
    opacity: 0;
    z-index: -1;
  }
}

.loader_animation {
  /*création du loader*/
  position: fixed;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #6c5ce7;
  border-bottom: 10px solid #e84393;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear forwards;
  animation: spin 2s linear forwards;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /*#6c5ce7  #e84393*/
  /*placement du loader au milieu de la page*/
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* animation loader */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) scale(1.5);
            transform: rotate(0deg) scale(1.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0);
            transform: rotate(360deg) scale(0);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) scale(1.5);
            transform: rotate(0deg) scale(1.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0);
            transform: rotate(360deg) scale(0);
  }
}

.coeur_contour {
  position: absolute;
  text-decoration: none;
  cursor: pointer;
}

.coeur_plein {
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
}

.coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 35px;
  margin: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.coeur:hover > .coeur_plein:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 2s;
  transition: 2s;
  color: linear-gradient(120deg, #FF79DA, #9356DC);
}

.coeur:hover .coeur > .coeur_plein:hover {
  -webkit-animation: heart-grow 2.5s linear forwards;
          animation: heart-grow 2.5s linear forwards;
}

.coeur_container_menu {
  margin-right: 80px;
  position: relative;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coeur_container_menu svg {
  width: 100%;
  height: 100%;
}

.coeur_container_menu .icon path {
  fill: transparent;
  stroke-width: 30;
  stroke: #000;
}

.coeur_container_menu .icon.heart path {
  stroke-dasharray: 1540;
  stroke-dashoffset: 0;
}

.coeur_container_menu .icon.heart:hover path {
  -webkit-animation: animation-heart 2s linear forwards;
          animation: animation-heart 2s linear forwards;
}

.coeur_container_menu .icon.heart:active path {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.coeur_container {
  margin-right: 20px;
  position: relative;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coeur_container .icon path {
  fill: transparent;
  stroke-width: 40;
  stroke: #000;
}

.coeur_container .icon.heart path {
  stroke-dasharray: 1540;
  stroke-dashoffset: 0;
}

.coeur_container .icon.heart:hover path {
  -webkit-animation: animation-heart 2s linear forwards;
          animation: animation-heart 2s linear forwards;
}

@-webkit-keyframes animation-heart {
  0% {
    stroke-dashoffset: 0;
    fill: #9356DC;
    fill-opacity: .0;
  }
  40% {
    stroke-dashoffset: 1540;
    fill: #FF79DA;
    fill-opacity: .25;
  }
  80% {
    stroke-dashoffset: 3080;
    fill: #9356DC;
    fill-opacity: .75;
  }
  100% {
    /*stroke-dashoffset: 0;
        fill: $color_secondaire ;
        fill-opacity: 100%;
        stroke: $color_secondaire;*/
  }
}

@keyframes animation-heart {
  0% {
    stroke-dashoffset: 0;
    fill: #9356DC;
    fill-opacity: .0;
  }
  40% {
    stroke-dashoffset: 1540;
    fill: #FF79DA;
    fill-opacity: .25;
  }
  80% {
    stroke-dashoffset: 3080;
    fill: #9356DC;
    fill-opacity: .75;
  }
  100% {
    /*stroke-dashoffset: 0;
        fill: $color_secondaire ;
        fill-opacity: 100%;
        stroke: $color_secondaire;*/
  }
}

.anim1 {
  -webkit-animation: progress-menu 0.7s;
          animation: progress-menu 0.7s;
}

.anim2 {
  -webkit-animation: progress-menu 1.4s;
          animation: progress-menu 1.4s;
}

.anim3 {
  -webkit-animation: progress-menu 2.1s;
          animation: progress-menu 2.1s;
}

.anim4 {
  -webkit-animation: progress-menu 2.8s;
          animation: progress-menu 2.8s;
}

.anim5 {
  -webkit-animation: progress-menu 3.5s;
          animation: progress-menu 3.5s;
}

.anim6 {
  -webkit-animation: progress-menu 4.2s;
          animation: progress-menu 4.2s;
}

.anim7 {
  -webkit-animation: progress-menu 4.9s;
          animation: progress-menu 4.9s;
}

.anim8 {
  -webkit-animation: progress-menu 5.6s;
          animation: progress-menu 5.6s;
}

.anim9 {
  -webkit-animation: progress-menu 6.3s;
          animation: progress-menu 6.3s;
}

.anim10 {
  -webkit-animation: progress-menu 7s;
          animation: progress-menu 7s;
}

@-webkit-keyframes progress-menu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  75% {
    opacity: 0.5;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes progress-menu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  75% {
    opacity: 0.5;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=animation.css.map */