@import "../mixin.scss";

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.logo_header {
    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: 1px 0px 8px 0px #bdbdbd;

    img {
        width: 165px;
        margin: 22px 0 12px 0;
        @include tablet {
            width: 300px;
        }
    }
}

.menu_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.menu_header_title{
    font-family: 'Shrikhand';
    font-size: 3.9rem;
    color: #000;
    margin-left: 45px;
    padding-top: 52px;
    margin-top: 0;
    margin-bottom: 33px;
    @include tablet {
        font-size: 3.2rem;
        margin-left: 280px;
    }
    @include dekstop {
        font-size: 3.2rem;
        margin-left: 480px;
    }
}

.menu_header_heart {
    font-size: 60px;
    margin-left: 60px;
}