@import "../mixin.scss";

body {
    width: 100%;
    margin: 0;
    font-family: roboto;
}

.block_fonctionnement_titre{
    padding-left: 27px;
    @include tablet {
        display: flex;
        flex-direction: row !important;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        padding: 30px 0 0 0;
    }
    @include dekstop {
        display: flex;
        flex-direction: row !important;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
    }
}


#search_bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
}

.location_icon {
    display: flex;
    margin-right: 10px;
}

#research {
    border: none;
    text-decoration: none;
    background: none;
    display: flex;
    width: 137px;
    font-weight: bold;
    font-size: 100%;
}

.block_restaurants_titre{
    padding-left: 27px;
}

#block_découverte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.découverte {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background: #f6f6f6;

    h1 {
        font-family: roboto;
        color: #000;
        padding-top: 42px;
        margin-top: 0;
        text-align: center;
        font-size: 1.8rem;
        max-width: 99%;
    }
}

.block_découverte_texte {
    font-family: roboto;
    font-weight: 100 !important;
    font-size: 1.3rem;
    width: 100%;
}

.block_fonctionnement_étape {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 60px;
    justify-content: center;
    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.block_fonctionnement_étape_ligne {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background: #f6f6f6;
    border-radius: 25px;
    margin-bottom: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 6px 9px -1px #dddddd;
    @include tablet{
        margin-top: 20px;
        width: 28%;
    }

    &:hover {
        background: #f2eafb;

        i {
            color: $color_primaire;
        }
    }
}

.étape_number {
    color: #fff;
    background: $color_primaire;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
    margin-right: 20px;
    margin-left: -12px;

}

.étape_icon {
    color: #6b6b6b;
    margin-right: 20px;
}

.card {
    text-decoration: none;
}

.black {
    color: #000;
}


.coeur{
    img{
        width: 25px;
        height: 25px;
        border-radius: 0;
        margin-right: 10px;
    }
}