@import "../mixin.scss";

.block_restaurants {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    width: 100%;
    padding-bottom: 60px;
    @include tablet {
        display: flex;
        flex-direction: row !important;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
    }
    @include dekstop {
        display: flex;
        flex-direction: row !important;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
    }
}

.block_restaurants_cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    @include tablet {
        display: flex;
        flex-direction: row !important;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
    }
}

.block_restaurants_cards_card {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 85%;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 20px;

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        height: 180px;
    }
}

.block_restaurants {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    width: 100%;
    padding-bottom: 60px;

    /*.block_restaurants_cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }*/

    .block_restaurants_cards_card {
        display: flex;
        flex-direction: column;
        background: #fff;
        width: 85%;
        border-radius: 20px;
        text-decoration: none;
        margin-bottom: 20px;
        @include tablet {
            width: 45%;
        }
    }

    /*.container_coeur {
        text-decoration: none;
    }*/

    .block_restaurants_cards_card_new {
        font-family: roboto;
        color: #000;
        display: flex;
        font-weight: 500;
        color: #278870;
        background: #99e2d0;
        position: absolute;
        right: 10%;
        margin-top: 20px;
        padding: 8px;
        border-radius: 5px;
        height: 20px;
        align-items: center;
        @include tablet{
            margin-left: 35%;
            right: auto;
        }
        @include dekstop {
            margin-left: 35%;
            right: auto;
        }
    }
}

.block_restaurants_cards_card_déscription {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    h3 {
        text-decoration: none;
        color: #000;
        margin-bottom: 0;
    }

    p {
        text-decoration: none;
        color: #000;
        margin-top: 0;
    }

    i {
        font-size: 2em;
        margin-right: 10px;
    }
}

.title_name {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.coeur{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

